<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<% if user_signed_in? %>
<p>
  <%= current_user.name %> now you can see the secrets!
</p>
<p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</p>
<% else %>
<p>
  <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Sign In', new_user_session_path %> to see the secrets
</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.user.name %></td>
      <% if user_signed_in? %>
      <td><%= link_to 'Show', "posts#index" %></td>
    
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>